:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.shlink-container {
  padding: 1em;
  border: 1px dashed #646cff;
  display: inline-block;
}

.shlink-widget {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 200px;
  background: white;
}

.shlink-widget__logo {
  margin-bottom: 10px;
}

.shlink-widget__button-group {
  display: flex;
  flex-direction: row;
  gap: 2px;
  background: #64aed033;
  font-size: 0px;
}

.shlink-widget__button {
  flex-grow: 1;
  flex-basis: 20%;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  cursor: pointer;
  background: none;
}

.shlink-widget__button:hover {
  background: #ffffff99;
}
.shlink-widget__qrcode-container {
  overflow: hidden;
  height: 0px;
  transition: height 0.1s;
}

.shlink-widget__qrcode-container--expand {
  height: var(--qrcode-height);
}

.shlink-widget__qrcode {
  width: 100%;
}

.shlink-widget__details td {
  padding-right: 10px;
}

.shlink-widget__label {
  font-weight: bold;
  margin-top: 2px;
  border-bottom: 2px solid #64aed0ff;
}

.download-icon {
  width: 30px !important;
  height: 30px !important;
}

.icon {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 480px) {
  .shlink-container {
    padding: 2em; /* Increase the padding */
  }

  .shlink-widget {
    width: 100%; /* Make the widget take up the full width of its container */
  }

  .shlink-widget__button {
    padding-top: 16px; /* Increase the padding */
    padding-bottom: 16px; /* Increase the padding */
  }

  .shlink-widget__logo {
    margin-bottom: 20px; /* Increase the margin */
  }

  .shlink-widget__details td {
    padding-right: 20px; /* Increase the padding */
  }

  .shlink-widget__label {
    font-size: 1.2em; /* Increase the font size */
  }

  .shlink-widget__qrcode {
    width: 100%; /* Make the QR code take up the full width of its container */
  }

  .shlink-widget__qrcode-container shlink-widget__qrcode-container--expand {
    height: 200px; /* Make the QR code take up the full height of its container */
  }
}
